<!DOCTYPE html>
<html>
<head>
    <title>Wishlist List</title>
</head>
<body>
    <h1>Wishlist List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>User ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for wishlist in wishlists %}
            <tr>
                <td>{{ wishlist.id }}</td>
                <td>{{ wishlist.userId }}</td>
                <td>{{ wishlist.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
