<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Wishlist List</title>
</head>
<body>
    <h1>Wishlist List</h1>
    <table class="table table-borderless">
        <thead class="thead-dark">
            <tr> 
                <th>Wishlist ID</th>
                <th>User ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for wishlist in wishlists %}
            <tr>
                <td>{{ wishlist.id }}</td>
                <td>{{ wishlist.userId }}</td>
                <td>{{ wishlist.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
